<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p>This site has the latest info about the progress of the TPF grant for Inline.pm</p>
  </div>
  <div class="sidebar-module">
  <h4>Posts</h4>
  <ol class="list-unstyled">
[% FOREACH post_ IN nodes %]
[% IF post_.type == 'post' %]
    <li><a href="/page/[%post_.link%].html">[%post_.title%]</a></li>
[% END %]
[% END %]
  </ol>
  </div>
<!--
  <h4>Archives</h4>
  <ol class="list-unstyled">
    <li><a href="#">October 2014</a></li>
  </ol>
  </div>
-->
<!--
  <div class="sidebar-module">
  <h4>Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="#">GitHub</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
  </ol>
  </div>
-->
</div><!-- /.blog-sidebar -->

